<div class="segment">
  <div class="highlight-story">
    <h3><div>What happens in a coaching session?</div></h3>
    <p>I <strong>ask questions</strong> to get a full, rich picture of what's happening.</p>
    <p>You may find that responding to my questions <strong>enriches your understanding</strong>, too.</p>
    <p>I <strong>listen carefully</strong> to your answers, and ask more questions.</p>
    <p>When you're interested, I <strong>offer observations and insights</strong> that occur to me.</p>
    <p>You share what's happening as we <strong>explore together</strong>.</p>
    <p>With my help, you <strong>choose what actions</strong> you'd like to try moving forward. We may talk about how you'll determine if the actions were helpful.</p>
  </div>
  <div class="highlight-story">
    <h3><div>What doesn't happen?</div></h3>
    <p>I do not ask questions I already know the answer to, in order to get you to reach a conclusion I want you to reach.</p>
    <p>We don't talk about things that you aren't comfortable with (while stretching where you choose to stretch).</p>
    <p>I do not tell you what you should do.</p>
    <div class="bolder-link"><a href="http://onealexharms.youcanbook.me">Schedule your first<br/>session for free</a></div> 
  </div>
</div>
<div class="segment">
  <div class="regular-story">
    <h3><div>Tell me about your philosophy of coaching.</div></h3>
    <p>I had something of a rough childhood. Many years of therapy &mdash; a route I recommend enthusiastically &mdash; as well as antidepressants and other sorts of interventions got me through young adulthood with some awareness of my coping patterns, and a sense of who I could be. Once I was on my feet, though, I still had plenty of work to do.</p>
    <p>Around a decade or so ago, I decided I wanted some peace. I began taking more seriously the study I'd dabbled in for the previous twenty years. I began early morning meditation at the local Zendo, attended weekend workshops that opened me up to actually accepting myself, and I started on the path to joy &mdash; though not without sadness. (I wouldn't work with anybody who claimed they never experienced sadness.)</p>
    <p>When is it time for coaching? When it's time to find someone to talk to who will empathize, not judge or fix, when you're ready to become more of who you want to be, when you want to see the options that you know must exist, and to find options, and confidently choose among them, when you want to learn to love yourself.</p>
    <p>Let me share with you some of the folks I've learned the most from.</p>
    <h4>Carl Rogers</h4>
    <p>Though he was a psychologist, Carl Rogers had a lot to say about every relationship that's intended to promote growth. His work revolutionized therapy (he coined the term "client" in place of "patient"), and also my understanding of what it means to self-actualize.
    <h4>Marshall Rosenberg, Conal Elliott</h4>
    <p>Marshall Rosenberg was once a student of Carl Rogers, and later left the field of psychology all together. He didn't want to diagnose people who were wanting more satisfaction from life. He wanted to find a way for people to have more connection, and to get their needs met. The pain and violence in the world broke his heart. In order to create peace, he came up with Nonviolent Communication. Often misunderstood, NVC offers a way to build empathy skill, and begin to understand the folks around you a little better.</p>
    <p>Conal Elliott is my friend and mentor. When I was learning NVC, I ran into different interpretations, many of which were &mdash; to be blunt &mdash; exasperating. NVC seemed to be as effective a weapon as a way of connecting. Conal's approach was evolutionary, nerdy, logical, and relentlessly open-hearted. Working with him, I learned to question everything, and stay with it until it made sense.</p>
    <h4>Pema Chodron, Alan Watts, Robert Anton Wilson, Byron Katie</h4>
    <p>These three are buddhist(ish) teachers. They are fingers pointing at the moon, but I'll try a little summarizing.</p>
    <p>They each, in their own way, teach me to stay put when things are difficult, instead of running, so that I can soften and learn something. They surprise and challenge me, so I learn to tell the difference between what's scary and what's just illusion.</p>
    <h4>In a bundle</h4>
    <p>All of these people have helped me learn to look at reality head-on, to question everything, to be comfortable with uncertainty. I learned to ask myself what I know and what I'm making up. As more and more things began to fall into the second category, the category lines became less interesting. What became most interesting was noticing what I'm experiencing in each moment, and iniviting other folks to notice, and share, their experience. From that starting point, the changes were amazing. Challenging. Delightful.</p> 
    <h3><div>So why Alex?</div></h3>
    <p>I have been studying mindfulness techniques since 1985, and began teaching in 2007. I've studied formal logic, zen buddhism, humanistic psychology. My practice is grounded in zen, with focus on cultivating curiosity, attention to body sensations, awareness of emotions, and a willingness to look at reality without flinching.</p>
    <p>Our coaching is based in mindfulness, and in maitri &mdash; lovingkindness. We focus on seeing options, living in alignment, and learning to respond the way we'd like rather than react and then regret.</p>
    <p>None of that can tell us if I'm the right coach for you. If you think we might fit well, let's find out!</p>
    <div class="bolder-link"><a href="http://onealexharms.youcanbook.me">Schedule a free<br/>introductory session</a></div> 
  </div>
</div>
