        <h3><br>We're having a party</h3>
        <h4>JoyConf, New Orleans, January 2016</h4>
        <p>For years, I've promised myself I'd go somewhere warm right in the middle of Ohio's winter. This year, I'm doing it, and I'm having a party.</p>
        <p>JoyConf is a conference for</p>
        <ul>
          <li>celebrating the joy of tech</li>
          <li>escaping the cold</li>
          <li>stretching ourselves</li>
          <li>connecting with each other</li>
          <li>being a blessing to the community we descend on</li.
        </ul>
        <p class="note">Learn more about what's up at <a href="http://joyconf.launchrock.com">the JoyConf preview site</a>.</p>
