<h2>Get in Touch</h2>
<div class="regular-story">
  <p>We'd love to hear from you. The best way to reach us is via twitter or email. Find maitria on twitter at <a href="http://twitter.com/hellomaitria">@hellomaitria</a>, or email us at <a href='&#109;ailto&#58;hel%&#54;Co&#64;m%6&#49;it%72i%6&#49;&#46;co%6D'>hello&#64;mait&#114;ia&#46;&#99;&#111;m</a>.</p> 
  <p>Individually, on twitter, we're Alex:&nbsp;<a href="http://twitter.com/onealexharms">@onealexharms</a> &amp; Jason:&nbsp;<a href="http://twitter.com/eraserhd">@eraserhd</a>.</p>
</div>
