<h4>Empathetic Technical Leadership</h4>
<h5>The Little Guide</h5><p>Alex's new book, <span class="book-title"><a href="http://empathetictechnicalleader.com">The Little Guide to Empathetic Technical Leadership</a></span> is available now! You can buy it at <a href="http://leanpub.com/littleguide">LeanPub</a>, or request a free copy, along with the chance to get tips and pointers from <a href="http://empathetictechnicalleader.com">EmpatheticTechnicalLeader.com.</a></p>
<h4>Meditation and Mindfulness</h4>
<h5>Quick Intro</h5><p>We offer a free 45 mintute Introduction to Meditation &amp; Mindfulness. Start where you are, whether you've never tried meditation or you're experienced, but have questions. <a href="http://onealexharms.youcanbook.me">Schedule your personal intro to meditation here.</a></p>
<h5>Online Class</h5><p>This course begins with an introduction to meditation techniques and mindfulness exercises. Then each week we discuss a different topic related to mindfulness practice, empathy, and topics brought up by students. Next class is to be scheduled.</p>
