<h4>Meditation and Mindfulness</h4>
<h5>Quick Intro</h5><p>We a free 45 mintute Introduction to Meditation &amp; Mindfulness. Start where you are, whether you've never tried meditation or you're experienced, but have questions.</p>
<h5>Online Class</h5><p>This course begins with an introduction to meditation techniques and mindfulness exercises. Then each week we discuss a different topic related to mindfulness practice, empathy, and topics brought up by students.</p>
<h4>Empathetic Technical Leadership</h4>
<h5>The Guide</h5><p>Get a free download of <span class="book-title">The Little Guide to Empathetic Technical Leadership</span>, a condensed preview of our upcoming course. Download at <a href="http://empathetictechnicalleadership.com">Empathetic Technical Leadership</a>.</p>
<h4>Facilitation for Technical Leaders</h4>
<p>Retrospectives and other gatherings, including planning meetings and technical decision-making meetings, mean dealing with challenges &mdash; often really difficult ones! Learning to talk openly about concerns, to build shared values, to look at what's happening and find ways to make it better takes skilled facilitation. Learn to facilitate your team's interactions as an Empathetic Technical Leader, to encourage collaboration and learning. Help your team learn communication skills that empower great work.</p>
<p class="note">Find out more about <a href="/courses/facilitation.html">Facilitation for the Empathetic Technical Leader</a>.</p>
