<h4>Empathetic Technical Leadership</h4>
<h5>ETL Workshop</h5>
  <p>Spend three days getting to know yourself better, building your ability to collaborate with empathy, and developing new skills to bring back to your team on Monday morning.</p>
  <p>Through a series of personal practices, group exercises, and a sprinkling of programming projects, you’ll have a chance to step outside your comfort zone and make real connections, building a new understanding of what it means to work together.</p>
  <p>Learn more about the <a href="http://empathetictechnicalleader.com">ETL Workshop here</a>.</p>
<h5>The Little Guide</h5>
  <p>Alex's book, <span class="book-title"><a href="http://empathetictechnicalleader.com">The Little Guide to Empathetic Technical Leadership</a></span> is available now! You can buy it at <a href="http://empathetictechnicalleader.com">EmpatheticTechnicalLeader.com</a>, and sign up there to get tips, pointers, and updates.</p>
