<h3><br/>Mindfulness & Empathy Support</h3>
<h4>Intro to Meditation - Free</h4>
<p>Hour-long introduction to meditation technique, via google hangouts.</p>
<h4>Six weeks intermediate mediation exploration</h4>
<p>Our next six week session will be a slow paced exploration of meditation and mindfulness topics to help you get focus and calm in your work and your personal life.</p>
<h4>Online empathy discussions</h4>
<p>This summer's upcoming empathy discussions: Empathy &amp; Gender Diversity, Privilege, Compassion for Mean People. Again, sign up<span class="note-indicator">*</span> to learn when they're scheduled.</p>
<h4>One on one support</h4>
<p>For students of empathy, one-on-one coaching &amp; support sessions are available for $150/50 minute session. <a href="/#contact">Contact us</a></p>
<p class="note"><span class="note-indicator">*</span>Be sure to sign up at <a href="http://tinyletter.com/maitria">tiny updates</a> if you want to know when things are scheduled.</p>
