<h3>Individual Work</h3>
<h4>Introduction to Meditation and Mindfulness</h4>
<p>We offer a free 45 mintute Introduction to Meditation &amp; Mindfulness. Learn the basics, and get your questions answered.</p>
<h4>Pair Programming</h4>
<p>Want to know if your code is expressive? How to untangle it? Want some practice coding the way you'd like to? Let's pair!</p>
<h4>One on One Coaching</h4>
<p>The topic is whatever's getting in your way. Leading geeks, finding balance, resolving conflicts. Our coaching focused on empathy, choice, mindfulness, and geek joy.</p>
<h4>Scheduling Your Session</h4>
<p>You can schedule your individual coaching, pairing, or free intro to meditation session on our <a href="https://onealexharms.youcanbook.me">scheduling page</a>.</p>
