<h3>Mindfulness &<br/>Empathy Support</h3>
<h4>Free intro</h4>
<p>We offer a free one-hour intro to meditation. You'll learn traditional meditaiton, and ways to adapt those traditions to your real life. <a href="https://ti.to/maitria/intro-to-meditation">Sign up here</a>.</p>
<h4>Six weeks intermediate mediation exploration</h4>
<p>A slow paced exploration to help you get more focus and calm.</p>
<h4>One on one support</h4>
<p>For students of empathy, one-on-one coaching &amp; support sessions are available</p>
<p class="note"><a href="#contact">Contact us</a> to learn more.</p>
