<header>
  <h1><a href="/"><img src="/assets/header-logo.png" alt="maitria"></a></h1>
  <nav>
    <ul>
      <li><a href="/#about">What we're about</a></li>
      <li><a href="/#work">Work with us</a></li>
      <li><a href="/#contact">Get in touch</a></li>
      <li><a href="http://tinyletter.com/maitria">Tiny Updates</a></li>
    </ul>
  </nav>
</header>
