<div class="segment">
  <div class="regular-story">
    <p>"How can I be more caring and empathetic with my team?"</p>
    <p>"What do I do when things feel like they're spinning out of control?"</p> 
    <p>"Leadership. Am I ready? How do you even."
    <p>"Sometimes I get so angry..."
    <p>"What would mindful coding look like?"</p>
  </div>
  <div class="highlight-story">
    <h3>geek leadership workshop</h3>
    <p>Thursday through Saturday</p>
  </div>
  <div class="highlight-story">
    <h3>individual coaching</h3>
    <p>Solve problems, etc. whatever.</p>
  </div>
  <div class="highlight-story">
    <h3>meditation &amp; mindfulness</h3>
    <p>You could take this oneline class</p>
  </div>
</div>
