<div class="segment">
  <div class="regular-story">
    <h3><span>Speaker Bio</span></h3>
    <p><img src="/people/alex.jpg">A developer, coach, and guide for mindfulness and meditation students, Alex brings warmth &amp; compassion to technology. By teaching and coaching from a place of mindfulness and empathy, Alex helps disempower fear, strengthen communication, and build connection, so that tech teams learn together and thrive. Author of The Little Guide to Empathetic Technical Leadership, host of The Geek Joy Podcast, and coach at Maitria.</p>
    <h3><span>A few of our favorite talks by Alex</span></h3>
    <h4><span>Learning to Empathy<br>Open Source &amp; Feelings 2015, Seattle</span></h4>
    <p>You've heard empathy is a learned skill. Let's really talk about it. What does it mean to have empathy? Why does it matter, anyway? And if empathy is useful (I hope to show you how it is), how do you get better at it?</p>
    <p>In this session, you'll learn real stuff about what's in your own heart, and how to connect to the people you encounter. Less feeling shitty, more enjoying projects!</p>
    <p>View <a href="https://www.youtube.com/watch?v=U15nkcSY2GI">Learning to Empathy</a> on YouTube.</p>
    <h4><span>Feedback and Difficult Conversations<br>Agile Day 2015, Chicago</span></h4>
    <p>We want to create organizations and systems where people thrive. We want an environment where we can create valuable software people love, make money, and have fun together while doing it. For a team to be healthy in this way, we need to be able to talk about difficult subjects. If only it weren't so awkward!</p>
    <p>In this session, you learn how to give effective feedback, both positive and negative. You also learn how you can approach difficult conversations, and use them to move your team forward.</p>
    <p>View <a href="https://www.youtube.com/watch?v=6jGfZSuIbVw">Feedback and Challenging Conversations</a> on YouTube.</p>
    <h4><span>Does Pair Programming Have to Suck?<br>&Oslash;redev 2013 (Malm&ouml;, Sweden)</h4>
    <p>Effective pairing can increase creativity, energy, speed &amp; quality. But on some teams, pairing is shunned, avoided, or just faked. Why do some thrive with pairing while others want nothing to do with it? How does coach-enforced pairing turn into something dry, distracted, imbalanced &amp; ineffective? Join in an honest discussion &amp; learn about which pairing styles drag teams down &amp; what sort of pairing helps teams rock.</p> 
    <p>View <a href="http://vimeo.com/78854353">Does Pair Programming Have to Suck</a> (Alex was Angela) on YouTube.</p>
    <h3><span>The Geek Joy Podcast</span></h3>
    <p>Here are a few of our favorite episodes of Maitria's Geek Joy Podcast:</p>
    <ul>
    <li><a href="http://geekjoypodcast.libsyn.com/10-this-emergent-dance">This Emergent Dance</a></li>
    <li><a href="http://geekjoypodcast.libsyn.com/i-want-to-be-the-one-who-tells-me-yes">I want to be the one who tells me yes</a></li>
    </ul>
    <p>Here's where you can learn more about <a href="/podcast">The Geek Joy Podcast</a>.</p>
    <h3><span>Podcasts we visited as guests (Alex was Angela)</span></h3>
    <ul>
      <li><a href="http://functionalgeekery.com/episodes/functionalgeekery_07_angela_harms_and_jason_felice.mp3">Functional Geekery</a>, March 2014. Jason &amp; Alex discussed Avi with the host, Proctor. Learn more about our project, <a href="http://github.com/maitria/avi">Avi, a lively vim, on github</a>.</li>
    <li><a href="http://www.thisagilelife.com/40/">This Agile Life</a>, March 2014. This is a fun chat about agile in general, with some talk about pairing and mob coding.</li>
    <li><a href="http://www.engineyard.com/podcast/agile-communication-with-angela-harms">Engine Yard Cloud Out Loud Podcast</a>, November 2012. Michael Brodhead kept surprising me with his very direct &amp; perceptive questions. Topics included agile and pairing, of course, and also learning, loving honesty, and meditation.</li>
    <li><a href="http://rubyrogues.com/049-rr-agile-communication-with-angela-harms/">Ruby Rogues</a>, April 2012. This was a conversation about agile software development. We found ourselves discussing collaboration, judgment, nonviolent communication, vulnerability and presence.</li>
    <li><a href="http://compassionatesolutions.ca/show-37-collaborative-family-living-with-angela-harms/">Family Matters Radio</a>, August 2010. We talked about unschooling, family life, non-coercive parenting.</li>
    </ul>
  </div>
</div>
