<div class="segment">
  <div class="regular-story">
    <p>We love working directly with tech teams to help them solve problems. Technical problems are solved by people. Because of this, we rely as much on empathy and communication as we do on technology. We offer coaching, training, and retrospective facilitation.</p> 
  </div>
  <div class="highlight-story">
    <h3><br>Code Retreats</h3>
    <p>A code retreat is a day of deliberate practice in community. Away from the pressures of delivery, we spend the day focusing on writing the best code we can. The original code retreats were often focused solely on code quality. We've extended that include additional focus on human factors.</p>
    <p>In addition to technical learning, teams explore their own emotions, learn about empathy, and become better pair programmers. The result is a team that learns together, enjoys each other, and is more productive.</p>  
    <p>For a code retreat, you need a room away from work responsibilities, and people who can commit to a full day of (fun) focus. You'll provide space, spare keyboards, and food, and we'll provide skilled facilitation.</p>
  </div>
  <div class="highlight-story">
    <h3>Retrospectives</h3>
    <p>Continuous improvement is one of the core skills that Agile development has brought us. The best retros help us dig deep to discover what is really going on, and what we're empowered to change. More than that, retros build trust and understanding among team members.</p>
    <p>With skilled facilitation, we break down barriers, create space for saying the things no one has been willing to say, discover surprises, and elicit real change where it's needed.</p> 
  </div>
  <div class="highlight-story">
    <h3>Team Communication</h3>
    <p>None of us is born knowing how to be on a team. On a technical team, empathy, self-awareness, and communication skills lay the groundwork for productivity. Problems we face on technical We'll meet with your team, makes some observations and recommendations, and teach some communication skills in facilitated meetings. (Often this includes a retrospective or two.)</p>
  </div>

  <div class="full-story">
     phone or text 614-245-5136 &mdash; or email <a href='ma&#105;&#108;to&#58;a&#108;e%&#55;8%40maitria&#46;&#37;6&#51;&#111;&#109;'>al&#101;x&#64;mai&#116;ri&#97;&#46;com</a>
  </div>
</div>
