<h3><br>Strengthening teams</h3>
<p>We love working directly with tech teams to help them solve problems. Technical problems are solved by people. Because of this, we rely as much on empathy and communication as we do on technology. We offer coaching, training, and retrospective facilitation.</p>
<p>From one day intensives that build team coding and pairing skill to longer-term (three-day to six week) team strengthening communication and technical skills.</p>
