<h4>Working with us</h4>
<p>Technical problems are solved by people. Because of this, we rely as much on empathy and communication as we do on technology.</p>
<h4>Pairing</h4>
<p>One of the most important ways we help a strengthen a team is through pair programming. Working in the code, we naturally explore technical quality, fears, hopes, and how to communicate about technical things. (You might enjoy <a href="https://vimeo.com/78854353">this talk on pair programming</a> by Alex.)
<h4>Facilitation</h4>
<p>Retrospectives are an opportunity for a team to learn how to communicate openly and effectively, and to improve together. Retros and other gatherings, including planning meetings and technical decision-making meetings, mean dealing with challenges &mdash; often really difficult ones! Learning to talk openly about concerns, to build shared values, to look at what's happening and find ways to make it better takes skilled facilitation. Our expert facilitation will help your team learn communication skills that empower great work. And in the process, they can learn to facilitate their own highly productive gatherings.</p> 
<p>Retrospectives are an opportunity for a team to learn how to communicate openly and effectively, and to improve together. Retros and other gatherings, including planning meetings and technical decision-making meetings, mean dealing with challenges — often really difficult ones! Learning to talk openly about concerns, to build shared values, to look at what's happening and find ways to make it better takes skilled facilitation. Our expert facilitation will help your team learn communication skills that empower great work. And in the process, they can learn to facilitate their own highly productive gatherings.</p>
<h4>Trainings</h4>
<p>Code retreats are a great way for a team to hone their craft and increase energy. Other trainings include TDD, workshops for product ownership, teaching tech leads to coach their teams.</p>
<p>We love working directly with tech teams to help them solve problems. From one day intensives that build team coding and pairing skill to longer-term (three-day to six week) team coaching, to strengthen communication and technical skills.</p>
<p class="note">Find out more about <a href="/work-with-us.html">working with us</a>.</p> 
