<div class="segment">
  <div class="regular-story">
    <p>"How can I be more caring and empathetic with my team?"</p>
    <p>"What do I do when things feel like they're spinning out of control?"</p> 
    <p>"Leadership. Am I ready? How do you even."</p>
    <p>"Sometimes I get so angry..."</p>
    <p>"Does mindfulness affect our code? What's mindful coding look like?"</p>
  </div>
  <div class="highlight-story">
    <h3><span>resources for learning</span></h3>
    {{> etl }}
  </div>
  <div class="highlight-story">
    <h3><span>individual coaching</span></h3>
    {{> individual-coaching }}
  </div>
</div>
