.DS_Store

*.swo
*.swp
*.orig
.sass-cache/

site/index.html
site/coaching.html
site/yourself.html
site/work-with-us.html

#leiningen's stuff
/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
