@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);
body {
  max-width: 1300px;
  min-width: 300px;
  margin: 0px;
  font-family: "Source Sans Pro", "Helvetica", sans-serif;
  font-weight: 300;
}

#greeting {
  color: gray;
  text-align: center;
  font-size: 18vw;
  font-weight: 200;  
}

@media (min-width: 1300px) {
  #greeting {
  font-size: 234px;
  } 
 }

.segment {
  text-align: center;
  }

.thing { 
  margin: 0px;
  padding-left: 2%;
  padding-right: 2%;
  vertical-align: top;
  border-top: solid gray 1px;
  width: 90%; 
  display: inline-block;
  background: #eee;
}

@media (min-width: 500px) {
  .thing { 
    width: 40%; 
  }
}

@media (min-width: 800px) {
  .thing { 
    width: 20%; 
    border-bottom: solid gray 1px;
  }
}
