@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);
body {
  margin: 0px;
  font-family: "Source Sans Pro", "Georgia", serif;
  font-weight: 300;
  padding-left: 5%;
  padding-right: 5%;
}

#greeting {
  color: gray;
  text-align: center;
  font-size: 18vw;
  font-weight: 200;  
}

.segment {
  border-top: solid gray 1px;
  border-bottom: solid gray 1px;
}

@media (max-width: 400px) {
  .thing { width: 96%; }
}

@media (min-width: 600px) {
  .thing {
    display: inline-block;
    margin-right: 2%;
    margin-left: 2%;
    width: 20%;
  }
}
