<!doctype html>

<html>

  <head>
    <title>Maitria | Strengthen the team</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/maitria.css">
    <link rel="icon" href="/assets/favicon.png">
  </head>

  <body>
    {{> header}}
    <div class="segment highlights">
      <h2 id="greeting">strengthen<br/>the team</h2>
    </div>
    <div>
      {{>work}}
    </div>
  </body>
</html>
