@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400);
body {
  border-right: solid #bbb 1px;
  max-width: 1300px;
  min-width: 300px;
  margin: 0px;
  font-family: "Source Sans Pro", "Helvetica", sans-serif;
  font-weight: 400;
  color: #333; }

a:link, a:visited {
  text-decoration: none;
  font-weight: bold;
  color: #eb5e00; }
a:hover, a:active {
  text-decoration: underline;
  color: #eb5e00; }

header {
  padding: 15px;
  border-bottom: solid #eb5e00 1px; }
  @media (max-width: 800px) {
    header {
      padding-bottom: 0px;
      text-align: center; } }
  header h1 {
    display: inline;
    padding: 0px; }
  header img {
    padding-top: 6px;
    width: 150px;
    display: inline;
    margin-left: 15px; }
  header nav {
    font-size: 90%;
    color: #666; }
    @media (min-width: 800px) {
      header nav {
        text-align: right;
        float: right; } }
@media($less-than-full-size) {
  header nav {
    width: 100%;
    display: block; } }
    header nav li {
      margin-left: 2em;
      text-transform: uppercase;
      display: inline;
      white-space: nowrap; }
      header nav li:first-of-type {
        margin-left: 0; }
    header nav ul {
      padding: 0; }

#greeting {
  color: #666;
  padding-top: 0.1em;
  padding-bottom: 0.2em;
  text-align: center;
  white-space: nowrap;
  font-size: 18vw;
  font-weight: 200; }
  @media (min-width: 1300px) {
    #greeting {
      font-size: 234px; } }

.note-indicator {
  color: #eb5e00;
  font-size: 150%;
  font-weight: bold; }

.note {
  border-top: solid thin #bbb;
  padding-top: 1em;
  font-size: 85%;
  color: #666; }

.segment, .dark-segment {
  width: 100%;
  text-align: center;
  font-weight: 400;
  color: #333;
  padding-bottom: 2em; }

.dark-segment {
  background: #333;
  color: #ccc; }
  .dark-segment a:link, .dark-segment a:visited {
    text-decoration: none;
    font-weight: bold;
    color: #eb5e00; }
  .dark-segment a:hover, .dark-segment a:active {
    text-decoration: underline;
    color: #eb5e00; }

.highlights h3 {
  height: 2.5em;
  padding-bottom: 0.5em;
  border-bottom: solid #eb5e00 1px; }
.highlights p {
  text-align: justify;
  font-size: 110%;
  color: #333; }

.story-base, .highlight-story, .regular-story {
  margin: 2%;
  padding: 0px;
  height: inherit;
  vertical-align: top;
  display: inline-block; }
  .story-base h4, .highlight-story h4, .regular-story h4 {
    text-align: left;
    margin-bottom: 0;
    font-weight: bold;
    color: #666; }
  .story-base h3, .highlight-story h3, .regular-story h3 {
    text-align: center;
    color: #eb5e00; }
  .story-base p, .highlight-story p, .regular-story p {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    text-align: left;
    line-height: 150%; }
  @media (max-width: 800px) {
    .story-base, .highlight-story, .regular-story {
      font-size: 80%; } }
  @media (max-width: 500px) {
    .story-base, .highlight-story, .regular-story {
      font-size: 100%; } }
  .story-base li, .highlight-story li, .regular-story li {
    text-align: left;
    margin-bottom: 0.5em; }

.highlight-story {
  max-width: 500px; }
  @media (min-width: 500px) {
    .highlight-story {
      width: 25%; } }

.regular-story {
  font-size: 100%; }
  @media (min-width: 500px) {
    .regular-story {
      margin-left: 15%;
      margin-right: 15%; } }
  .regular-story h2 {
    text-align: center; }

#four-things {
  margin: 1em; }
  #four-things .value {
    font-weight: bold;
    color: #eb5e00; }
  #four-things .action {
    margin-left: 10%;
    font-weight: bold;
    color: #bbb; }
  @media (min-width: 800px) {
    #four-things {
      padding-left: 5%;
      padding-right: 5%; } }

/*# sourceMappingURL=maitria.css.map */
