@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400)

//colors
$maitria-orange: #eb5e00
$almost-black: #1d1d1d
$dark-gray: #333
$medium-gray: #666
$light-gray: #ddd

$viewport-up-to-800px: "max-width: 800px"
$viewport-up-to-500px: "max-width: 500px"
$viewport-bigger-than-500px: "min-width: 500px"

body
  border-right: solid $light-gray 1px
  max-width: 1300px
  min-width: 300px
  margin: 0px
  font-family: "Source Sans Pro", "Helvetica", sans-serif
  font-weight: 400
  color: $dark-gray

header
  padding: 15px
  border-bottom: solid $maitria-orange 1px
  @media ($viewport-up-to-800px)
    text-align: center  
  h1
    display: inline
    margin-left: 15px
    color: $dark-gray
    font-size: 2.5em
    font-weight: 200
  img
    vertical-align: bottom
  nav
    color: $medium-gray
    @media($viewport-up-to-800px)
      width: 100%
      display: block
    li
      margin-left: 2em
      text-transform: uppercase 
      display: inline
      &:first-of-type
        margin-left: 0
    ul
      padding: 0
    @media(min-width: 800px)
      float: right

#greeting 
  color: $medium-gray
  padding-top: .1em
  padding-bottom: .2em
  text-align: center
  font-size: 18vw
  font-weight: 200  
  @media (min-width: 1300px) 
    font-size: 234px

.segment 
  width: 100%
  text-align: center
  font-weight: 400
  color: $dark-gray

.dark-segment
  @extend .segment
  background: $light-gray
  color: $almost-black

.story-base
  margin: 2%
  padding: 0px
  vertical-align: top
  display: inline-block
  h3
    text-align: center
    color: $maitria-orange
  p
    text-align: justify
    line-height: 150%
  @media ($viewport-up-to-800px)
    font-size: 80%
  @media ($viewport-up-to-500px)
    font-size: 100%

.story
  @extend .story-base
  max-width: 500px
  @media ($viewport-bigger-than-500px)
    width: 25% 
 
.diatribe
  @extend .story-base
  @media ($viewport-bigger-than-500px)
    margin-left: 8%
    margin-right: 8%
  
