@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400)
body
  max-width: 1300px
  min-width: 300px
  margin: 0px
  font-family: "Source Sans Pro", "Helvetica", sans-serif
  font-weight: 400
  color: #333

#header
  padding: 15px
  border-bottom: solid #ccc 1px
  font-size: 2.5em
  font-weight: 200
  span
    margin-left: 15px
  img
    vertical-align: bottom

#greeting 
  color: #999
  padding-top: .1em
  padding-bottom: .2em
  text-align: center
  font-size: 18vw
  font-weight: 200  

@media (min-width: 1300px) 
  #greeting
    font-size: 234px

.segment 
  text-align: center
  font-weight: 400
  color: #666

.thing h3 
  color: #eb5e00

.thing p 
  line-height: 150%
  text-align: left

.thing  
  height: 8em
  overflow: hidden
  margin: 2%
  padding: 0px
  vertical-align: top
  border-top: solid #ccc 1px
  display: inline-block
  max-width: 500px
  h3
    color: #eb5300
  p
    line-height: 150%

@media (min-width: 800px) 
  .thing  
    height: 15em
    width: 25% 
    border-bottom: solid #ccc 1px
