@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400);
body {
  border-right: solid #bbb 1px;
  max-width: 1300px;
  min-width: 300px;
  margin: 0px;
  font-family: "Source Sans Pro", "Helvetica", sans-serif;
  font-weight: 400;
  color: #333; }

a:link, a:visited {
  text-decoration: none;
  font-weight: bold;
  color: #b84a00; }
a:hover, a:active {
  text-decoration: underline;
  color: #eb5e00; }

header {
  padding: 15px;
  border-bottom: solid #eb5e00 1px; }
  @media (max-width: 800px) {
    header {
      padding-bottom: 0px;
      text-align: center; } }
  header h1 {
    display: inline;
    padding: 0px; }
  header img {
    padding-top: 6px;
    width: 150px;
    display: inline;
    margin-left: 15px; }
  header nav {
    font-size: 90%;
    color: #666; }
    @media (min-width: 800px) {
      header nav {
        text-align: right;
        float: right; } }
@media($less-than-full-size) {
  header nav {
    width: 100%;
    display: block; } }
    header nav li {
      margin-left: 2em;
      text-transform: uppercase;
      display: inline;
      white-space: nowrap; }
      header nav li:first-of-type {
        margin-left: 0; }
    header nav ul {
      padding: 0; }

#greeting {
  color: #666;
  padding-top: 0.1em;
  padding-bottom: 0.2em;
  text-align: center;
  white-space: nowrap;
  font-size: 18vw;
  font-weight: 200; }
  @media (min-width: 1300px) {
    #greeting {
      font-size: 234px; } }

.segment, .dark-segment {
  width: 100%;
  text-align: center;
  font-weight: 400;
  color: #333; }

.dark-segment {
  background: #333;
  color: #ccc; }

.story-base, .story, .single-story {
  margin: 2%;
  padding: 0px;
  height: inherit;
  vertical-align: top;
  display: inline-block; }
  .story-base h5, .story h5, .single-story h5 {
    margin: 0px;
    text-align: left; }
    .story-base h5:before, .story h5:before, .single-story h5:before {
      content: ">> "; }
    .story-base h5:after, .story h5:after, .single-story h5:after {
      content: " <<"; }
  .story-base h4, .story h4, .single-story h4 {
    margin-bottom: 0px;
    text-align: left; }
  .story-base h3, .story h3, .single-story h3 {
    text-align: center;
    color: #eb5e00; }
  .story-base p, .story p, .single-story p {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    text-align: left;
    line-height: 150%; }
  @media (max-width: 800px) {
    .story-base, .story, .single-story {
      font-size: 80%; } }
  @media (max-width: 500px) {
    .story-base, .story, .single-story {
      font-size: 100%; } }

.highlights p {
  text-align: justify;
  font-size: 110%;
  color: #333; }

.story {
  max-width: 500px; }
  @media (min-width: 500px) {
    .story {
      width: 25%; } }

.single-story {
  font-size: 100%; }
  @media (min-width: 500px) {
    .single-story {
      margin-left: 15%;
      margin-right: 15%; } }

#four-things {
  margin: 1em; }
  #four-things .value {
    font-weight: bold;
    color: #eb5e00; }
  #four-things .action {
    margin-left: 10%;
    font-weight: bold;
    color: #bbb; }
  @media (min-width: 800px) {
    #four-things {
      padding-left: 5%;
      padding-right: 5%; } }

/*# sourceMappingURL=maitria.css.map */
