<!doctype html>

<html>

  <head>
    <title>Maitria</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="maitria.css">
    <link rel="icon" href="assets/favicon.png">
  </head>

  <body>
    {{> header}}
    <div class="segment-highlights">
      <h2 id="greeting">JoyConf<br/>is coming</h2> 

      <div class="highlight-half-story">
      {{> conference}}
      </div>

      <div class="highlight-half-story">
      {{> events}}
      </div>
    </div>

    <div id="about" class="dark-segment">
      {{> about}}
    </div>

    <div id="contact" class="segment">
      {{> contact}}
    </div>
  </body>
</html>
