<!doctype html>

<html>

  <head>
    <title>Maitria</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="maitria.css">
    <link rel="icon" href="assets/favicon.png">
  </head>

  <body>
    {{> header}}
    <div class="segment-highlights">
      <h2 id="greeting">JoyConf<br/>is coming</h2> 

      <div class="highlight-half-story">
        <h3><br>We're having a party</h3>
        <h4>JoyConf, New Orleans, January 2016</h4>
        <p>For years, I've promised myself I'd go somewhere warm right in the middle of Ohio's winter. This year, I'm doing it, and I'm having a party.</p>
        <p>JoyConf is a conference for</p>
        <ul>
          <li>celebrating the joy of tech</li>
          <li>escaping the cold</li>
          <li>stretching ourselves</li>
          <li>connecting with each other</li>
          <li>being a blessing to the community we descend on</li.
        </ul>
        <p class="note">Learn more about what's up at <a href="http://joyconf.launchrock.com">the JoyConf preview site</a>.</p>
      </div>

      <div class="highlight-half-story">
        <h3><br/>Mindfulness & Empathy Support</h3>
        <h4>One hour intro to meditation</h4>
        <p>We'll be scheduling a one-hour introduction to meditation via Google Hangouts. No charge. Let us know if you're interested.</p>
        <h4>Six weeks intermediate mediation exploration</h4>
        <p>Our next six week session will be a slow paced exploration of meditation and mindfulness topics to help you get focus and calm in your work and your personal life.</p>
        <h4>Online empathy discussions</h4>
        <p>We're looking to start a series of hour-long Hangouts about empathy topics, including difficult areas of caring for each other, like privilege, gender, police protests, etc.</p>
        <h4>One on one support</h4>
        <p>One on one support sessions are available for $150/50 minute session. Contact Alex for info.</p>
        <p class="note">Be sure to sign up at <a href="http://tinyletter.com/maitria">tiny updates</a> if you want to know when things are scheduled.</p>
      </div>
    </div>

    <div id="about" class="dark-segment">
      <h2>What we're about</h2>
      <div class="regular-story">
        <p>It started with some real frustrations at work. Something felt wrong &mdash; misaligned &mdash; and we started having conversations about what we wanted to be doing, what would make work meaningful. Those amazing conversations resulted in some real stuff that changed how we live our work/life.</p>
        <div id="four-things">
          <p class="value">Because we care about beautiful code</p>
          <p class="action">we hack with intention</p>
          <p class="value">Because we care about geek joy</p>
          <p class="action">we encourage geeks to code from the heart</p>
          <p class="value">Because we care about what&#8217;s alive in the people we touch</p>
          <p class="action">we speak and listen with courageous curiosity</p>
          <p class="value">Because we care about what emerges when we collaborate</p>
          <p class="action">we show up with confident humility</p>
        </div>
        <p>Our name, maitria, comes from the sanskrit word <em>maitri</em> (pronounced like “my tree”), meaning unconditional friendliness, loving-kindness, connection. The name <em>Maitreya</em> comes from this same root. We use words like these to remember the mindfulness that we want to bring to our work.</p>
      </div>
    </div>

    <div id="contact" class="segment">
      <h2>Get in Touch</h2>
      <div class="regular-story">
        <p>We'd love to hear from you. The best way to reach us is via twitter or email. Find maitria on twitter at <a href="http://twitter.com/hellomaitria">@hellomaitria</a>, or email us at <a href='&#109;ailto&#58;hel%&#54;Co&#64;m%6&#49;it%72i%6&#49;&#46;co%6D'>hello&#64;mait&#114;ia&#46;&#99;&#111;m</a>.</p> 
        <p>Individually, on twitter, we're Alex<span class="note-indicator">*</span>&nbsp;<a href="http://twitter.com/onealexharms">@onealexharms</a>, Jason&nbsp;<a href="http://twitter.com/eraserhd">@eraserhd</a>, and Tracy&nbsp;<a href="http://twitter.com/kaleidic">@kaleidic</a>,&nbsp;or&nbsp;<a href="http://twitter.com/tracyharms">@tracyharms</a>.</p>
      <p class="note"><span class="note-indicator">*</span>Alex is a new name for the same old Angela Harms.</p>
      </div>
    </div>

    <div id="swag" class = "dark-segment">
      <h2>Inspiration Tools + Resources</h2>
      <div class ="regular-story">
        <p>We have all sorts of aspirations for this spot, ranging from meditation &amp; coping help to t-shirts &amp; stickers. For now, here are some things that are already exist. It's an MVP &mdash; tell us what you'd like to see here!</p>
          <p>For now...</p>
          <ul>
            <li>Poster (or maybe poem or prayer): <a href="http://angelaharms.com/2012/i-made-a-poster-to-hang-up-at-work/">meaning & work</a> (which will hopefully become a real poster one day)</li>
            <li>Podcast: <a href="http://devchat.tv/ruby-rogues/049-rr-agile-communication-with-angela-harms">Alex on the Ruby Rogues podcast</a></li>
            <li>Video: <a href="http://vimeopro.com/user4280938/oredev-conference-for-software-developers-netjavawebmobiletestagile/video/78854353">Does Pair Programming Have to Suck?</a></li>
            <li>Video: Tracy's gentle, accessible <a href="http://www.infoq.com/presentations/j-language">Introduction to the J programming language</a> (an amazing but sometimes scary language)</li>
            <li>Video: <a href="http://www.infoq.com/presentations/tdd-variants">Why We Don't Party Like It's 1999</a>, where Jason talks about beautiful code and how TDD gave him joy</a></li>
            <li>Stuff we can send you: 'maitri' wristbands, maitria stickers, stay tuned for these and more.</li>
          </ul>
      </div>
    </div>

    <div id="work" class="segment">
      <div class="highlights">
        <h2>Work with us</h2>
        <div class="regular-story">
          <p>In addition to work we do with Maitria, we love working directly with tech teams to help them solve problems. As they say, every technical problem is a people problem. Because of this, we rely as much on empathy and communication as we do on technology. We offer coaching, training, retrospective facilitation.</p> 
        </div>
        <div class="highlight-story">
          <h3><br>Alex</h3>
          <h4>Technical Collaborator</h4>
          <p>Alex helps teams learn everyday communication and mindfulness skills to become more creative, effective learners, and make <em>and act on</em> effective team decisions. <a href="http://maitria.com/people/alex.html">More about Alex</a></p>
        </div>
        <div class="highlight-story">
          <h3><br>Jason</h3>
          <h4>Solver of Problems</h4>
          <p>Jason has hacked in almost any environment you can name, and easily adapts to new ones. He's the guy who can always figure it out. He loves teaching, pairing, and sharing his knowledge with the team. <a href="http://maitria.com/people/jason.html">More about Jason here</a></p>
        </div>
        <div class="highlight-story">
          <h3><br>Tracy</h3>
          <h4>Challenger of Assumptions</h4>
          <p>Tracy tests functionality, examines assumptions, questions everything. Tracy's superpower: the ability to combine mind-blowing tech with knowledge of humans and philosophy to create understanding. <a href="people/tracy.pdf">More about Tracy (pdf)</a>.</p> 
        </div>
      </div>
    </div>

  </body>
</html>
