<!doctype html>

<html>

  <head>
    <title>Maitria</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="maitria.css">
    <link rel="icon" href="assets/favicon.png">
  </head>

  <body>
    {{> header}}
    <div class="segment-highlights">
      <h2 id="greeting">JoyConf<br/>is coming</h2> 

      <div class="highlight-half-story">
      {{> conference}}
      </div>

      <div class="highlight-half-story">
      {{> events}}
      </div>
    </div>

    <div id="about" class="dark-segment">
      {{> about}}
    </div>

    <div id="contact" class="segment">
      {{> contact}}
    </div>

    <div id="swag" class = "dark-segment">
      {{> swag}}
    </div>

    <div id="work" class="segment">
      <div class="highlights">
        <h2>Work with us</h2>
        <div class="regular-story">
          <p>In addition to work we do with Maitria, we love working directly with tech teams to help them solve problems. As they say, every technical problem is a people problem. Because of this, we rely as much on empathy and communication as we do on technology. We offer coaching, training, retrospective facilitation.</p> 
        </div>
        <div class="highlight-story">
          <h3><br>Alex</h3>
          <h4>Technical Collaborator</h4>
          <p>Alex helps teams learn everyday communication and mindfulness skills to become more creative, effective learners, and make <em>and act on</em> effective team decisions. <a href="http://maitria.com/people/alex.html">More about Alex</a></p>
        </div>
        <div class="highlight-story">
          <h3><br>Jason</h3>
          <h4>Solver of Problems</h4>
          <p>Jason has hacked in almost any environment you can name, and easily adapts to new ones. He's the guy who can always figure it out. He loves teaching, pairing, and sharing his knowledge with the team. <a href="http://maitria.com/people/jason.html">More about Jason here</a></p>
        </div>
        <div class="highlight-story">
          <h3><br>Tracy</h3>
          <h4>Challenger of Assumptions</h4>
          <p>Tracy tests functionality, examines assumptions, questions everything. Tracy's superpower: the ability to combine mind-blowing tech with knowledge of humans and philosophy to create understanding. <a href="people/tracy.pdf">More about Tracy (pdf)</a>.</p> 
        </div>
      </div>
    </div>

  </body>
</html>
