<!doctype html>

<html>

  <head>
    <title>Maitria</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/maitria.css">
    <link rel="stylesheet" type="text/css" href="/events.css">
    <link rel="icon" href="/assets/favicon.png">
  </head>

  <body>
    <header>
      <h1><a href="/"><img src="/assets/header-logo.png" alt="maitria"></a></h1>
      <nav>
        <ul>
          <li><a href="/#about">What we're about</a></li>
          <li><a href="/#work">Work with us</a></li>
          <li><a href="/#contact">Get in touch</a></li>
          <li><a href="http://tinyletter.com/maitria">Tiny Updates</a></li>
        </ul>
      </nav>
    </header>
   
    <div class="segment highlights">
      <h2 id="greeting">introduction to meditation<br>(for geeks)</h2>
    </div>

    <div id="why" class="segment">
      <div class="regular-story">
        <h2><br>Why mindfulness?</h2>
        <h3>And why for geeks?</h3>
        <p>Meditation practice has made a big difference for us, and we'd like to offer to share that with you.</p>
        <p>Everybody knows meditation can help with stress relief and has health benefits. But there are things we've found especially useful for us, as geeks. Mindfulness work has helped us with...</p>
        <ul>
          <li>becoming more comfortable with our emotions</li>
          <li>developing compassion</li>
          <li>achieving healthier focus</li>
          <li>control of our attention</li>
          <li>getting better at empathy</li>
          <li>gaining awareness of our bodies</li>
          <li>learning self-compassion</li>
          <li>improving relationships</li>
        </ul>
        <p>We'd like to invite you to join our six-week online class. Weekly group instruction and meditation sessions will happen via Hangouts, and throughout the course you'll have an online community for questions and thoughts that come to you between sessions. Together with a small group of other technical folks, you'll learn meditation basics and intermediate techniques, and begin to form habits that can stick with you.</p>
      <p><a href="#signup">Take me to sign up</a><span class="arrow"><a href="#signup">&#10164;</a></span></p>
      </div>
    </div>

    <div id="what" class="dark-segment">
      <div class="regular-story">
        <h2><br>How it works</h2>      
        <h3>What's involved?</h3>
        <p>When I (Alex) wanted to start a meditation practice, it was a real struggle. I finally realized I needed to people to sit with, or it wouldn't happen. That's how I ended up at the Zendo, and it was a huge help. Our intent is to provide a community of support for you, as you start (or continue) your practice.</p>
        <ul>
        <li>weekly live video chat via hangouts</li>
        <li>online learning community</li>
        <li>one-on-one instruction opportunities</li>
        </ul>
        <p>Ok, here's the nitty gritty. Once you're signed up, you'll receive an email with information about the online community. Here, you'll learn about each week's topic, find links to resources like audio files and readings, and you'll be able to log your sitting practice and post questions or thoughts that come up. Once a week, we'll meet via Google Hangouts for a 90 minute session, including 20 minutes of meditation.</p>
        <p>This first time, we're offering the classes at half the price we expect to ask later &mdash; $180 instead of $360. (We'll also have scholarship slots in each class.)</p> 
        <p>The first session will be introductory instruction. In the next five weekly sessions, we'll typically start with a welcome and Q&amp;A, followed by a 20 minute session. Afterwards, a short talk on a topic related to mindfulness, and then we'll learn a supplemental technique for the following week's practice. Folks may enjoy staying after class for some social time.</p>
        <p>Between classes, we'll talk to one another in the online community. There you can post questions or discuss your experiences throughout the week. The instructors will be active in the community as well, answering questions and making fart jokes.</p>
        <p>Lastly, you'll also have the opportunity to sign up for a one-on-one sessions, in case there are questions you'd like to ask privately.</p>
      <p><a href="#signup">Take me to sign up</a><span class="arrow"><a href="#signup">&#10164;</a></span></p>
      </div>
    </div>


    <div id="who" class="segment">
      <div class="regular-story">
        <h2><br>Who's teaching?</h2>
        <h3>Instructor</h3>
        <p>Classes will be led by Alex Harms. Alex has been studying mindfulness techniques since 1985, and began teaching in 2007. She has studied formal logic, zen buddhism, humanistic psychology, with teachers including a Japanese trained zen priest<span class="note-indicator">*</span>, Marshall Rosenberg, Conal Elliott, Neale Donald Walsh, and Kim Krichbaum.</p>
        <p>Alex's practice is grounded in zen buddhism, with focus on cultivating curiosity, attention to body sensations, awareness of emotions, and a willingness to look at reality without flinching.</p>
<p class="note"><span class="note-indicator">*</span>...who shall remain nameless, because "lineage" isn't the point here. But if you want to know more, just ask. I'll introduce you! :)</p>
      <h3>Assisting</h3>
      <p>You'll also get to know Tracy Harms and Jason Felice, who will be in some classes, and will be a participating in the online community, available to answer questions and for individual sessions.
      <p><a href="#signup">Take me to sign up</a><span class="arrow"><a href="#signup">&#10164;</a></span></p>
      </div>
    </div>


    <div class="dark-segment">
      <div id="signup" class="regular-story">
        <h3>Thinking of joining us?</h3>
        <p>We're offering a Tuesday course and a Sunday course. Pick whichever fits your schedule better. (If neither fits your schedule, let us know. That will help us schedule the next one.)</p>
        <p>We're expecting to offer future classes for $360, but this first time, we're offering it for $180.</p>
        <div class="purchase_card">
          <p>Tuesdays at 6PM Eastern (3PM Pacific)<br>starting January 6 &mdash; $180

            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="4VJQFPSEUSTPA">
            <button type="submit">Sign up</button>
            </form>
          </p>
        </div>
        <div class="purchase_card">
          <p>Sundays at 3PM Eastern (8PM GMT)<br>starting February 15 &mdash; $180
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="P5SCXT4CLFUES">
            <button type="submit">Sign up</button>
            </form>
          </p>
        </div>
      </div>
    </div>

  </body>
</html>
