<html>

  <head>
    <title>Geek Joy Podcast</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/maitria.css">
    <link rel="icon" href="/assets/favicon.png">
  </head>

  <body>
    {{>header}}
    <div class="segment">
      <h2 id="greeting" class="one-line"><img src="/assets/podcast.png">geek joy podcast</h2>
      <div class="regular-story">
        <p>The Geek Joy Podcast, born in January 2016, is a place to talk about all the things that bring us joy, and some of the things that get in the way. Software, art, technology, empathy, fun hobbies, mindfulness... lots of interesting topics and people!</p>      
        <p>It comes out Sunday. Here's <a href="http://geekjoypodcast.libsyn.com/rss">the Geek Joy Podcast feed</a>.</p>
        <p>Or go check out the whole <a href="http://geekjoypodcast.libsyn.com">Geek Joy Podcast Archive</a>.</p>
        <p>And here's the <a href="https://itunes.apple.com/us/podcast/the-geek-joy-podcast/id1075146058">Geek Joy Podcast on itunes</a>.</p>
      </div>
    </div>
    <div class="segment">
      <h2>Listen to the latest episode</h2>
      <div class="regular-story">
        <iframe style="border: none" src="//html5-player.libsyn.com/embed/destination/id/344031/height/500/width/450/theme/standard/autoplay/no/autonext/no/preload/no/no_addthis/no/thumbnail/no/no-cache/true/" height="250" width="450" scrolling="no"  allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
        <p>Options at the top let you see the program notes and choose other episodes.</p>
      </div>
    </div>
  </body>
</html>
