<html>

  <head>
    <title>Geek Joy Podcast</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/maitria.css">
    <link rel="icon" href="/assets/favicon.png">
  </head>

  <body>
    {{>header}}
    <div class="segment">
      <h2 id="greeting"><img src="/assets/podcast.png">geek joy<br>podcast</h2>
      <div class="regular-story">
        <p>The Geek Joy Podcast, born in January 2016, is a place to talk about all the things that bring us joy, and some of the things that get in the way. Software, art, technology, empathy, fun hobbies, mindfulness... lots of interesting topics and people!</p>      
        <p>It comes out Sunday. Here's <a href="http://geekjoypodcast.libsyn.com/rss">the Geek Joy Podcast feed</a>.</p>
      </div>
    </div>
    <div class="segment">
      <iframe style="border: none" 
        src="//html5-player.libsyn.com/embed/destination/id/344031/height//width/450/theme/custom/autoplay/no/autonext/no/preload/no/no_addthis/no/thumbnail/no/no-cache/true/render-playlist/no/custom-color/eb5e00/" 
        height="100%" 
        width="450" 
        scrolling="no"  allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
    </div>
  </body>
</html>
