<h2>What we're about</h2>
<div class="regular-story">
  <p>It started with some real frustrations at work. Something felt wrong &mdash; misaligned &mdash; and we started having conversations about what we wanted to be doing, what would make work meaningful. Those amazing conversations resulted in some real stuff that changed how we live our work/life.</p>
  <div id="four-things">
    <p class="value">Because we care about beautiful code</p>
    <p class="action">we hack with intention</p>
    <p class="value">Because we care about geek joy</p>
    <p class="action">we encourage geeks to code from the heart</p>
    <p class="value">Because we care about what&#8217;s alive in the people we touch</p>
    <p class="action">we speak and listen with courageous curiosity</p>
    <p class="value">Because we care about what emerges when we collaborate</p>
    <p class="action">we show up with confident humility</p>
  </div>
  <p>Our name, maitria, comes from the sanskrit word <em>maitri</em> (pronounced like “my tree”), meaning unconditional friendliness, loving-kindness, connection. The name <em>Maitreya</em> comes from this same root. We use words like these to remember the mindfulness that we want to bring to our work.</p>
</div>
