<h3>Geek Joy<br>a conference and retreat</h3>
<h4>New Orleans, January 29-30, 2016</h4>
<p>We're so excited about JoyConf! It's going to be a beautiful place for up to 50 geeks to gather, recharge, have fun, and connect.</p>
<p class="quoty"><span class="shiny">&#8220</span>This isn't a place to sit and watch speakers. Everybody who attends can present in whatever way works for them. Whether it's a half-hour presentation, a small group discussion, a craft table, or a lightning talk, everybody's a presenter.</p>
<p class="quoty"><span class="shiny">&#8220</span>We are here to meet each other as people, with care & empathy, to share our geek joy! We emphatically welcome... <a class="fine" href="http;//joyconf.com">more</a></p>
<p class="note">Read more about <a href="http://joyconf.launchrock.com">JoyConf</a>.</p>
