<h4>One on One Coaching</h4>
<p>The topic is whatever's getting in your way. Leading geeks, finding balance, resolving conflicts. Our coaching, focused on empathy, choice, mindfulness, and geek joy, will help you find your way forward. If you're curious about this, you can learn about Alex's philsophy and <a href="/coaching.html">what coaching is like, here</a>.</p>
<h4>Pair Programming</h4>
<p>One of the most important ways we help a strengthen a team is through pair programming. Working in the code, we naturally explore technical quality, fears, hopes, and how to communicate about technical things. (You might enjoy <a href="https://vimeo.com/78854353">this talk on pair programming</a> by Alex.)
<p>Want to know if your code is expressive? How to untangle it? Want some practice coding the way you'd like to? Or to figure out how to better help your team by pairing? Let's pair!</p>
<ul><li>Learn how coaches lead by example</li>
<li>Practice social aspects of pairing</li>
<li>Develop your ability to collaborate</li>
<li>Experience a pairing culture of courageous excellence</li></ul>
