<h2>Inspiration Tools + Resources</h2>
<div class ="regular-story">
  <p>We have all sorts of aspirations for this spot, ranging from meditation &amp; coping help to t-shirts &amp; stickers. For now, here are some things that are already exist. It's an MVP &mdash; tell us what you'd like to see here!</p>
    <p>For now...</p>
    <ul>
      <li>Poster (or maybe poem or prayer): <a href="http://angelaharms.com/2012/i-made-a-poster-to-hang-up-at-work/">meaning & work</a> (which will hopefully become a real poster one day)</li>
      <li>Podcast: <a href="http://devchat.tv/ruby-rogues/049-rr-agile-communication-with-angela-harms">Alex on the Ruby Rogues podcast</a></li>
      <li>Video: <a href="http://vimeopro.com/user4280938/oredev-conference-for-software-developers-netjavawebmobiletestagile/video/78854353">Does Pair Programming Have to Suck?</a></li>
      <li>Video: Tracy's gentle, accessible <a href="http://www.infoq.com/presentations/j-language">Introduction to the J programming language</a> (an amazing but sometimes scary language)</li>
      <li>Video: <a href="http://www.infoq.com/presentations/tdd-variants">Why We Don't Party Like It's 1999</a>, where Jason talks about beautiful code and how TDD gave him joy</a></li>
      <li>Stuff we can send you: 'maitri' wristbands, maitria stickers, stay tuned for these and more.</li>
    </ul>
</div>
