<div class="segment">
  <div class="regular-story">
    <p>We love working directly with tech teams to help them solve problems. Technical problems are solved by people. Because of this, we rely as much on empathy and communication as we do on technology. We offer coaching, training, and retrospective facilitation.</p> 
    <h3><span>Technical and Communication Coaching</span></h3>
    <p>None of us is born knowing how to be on a team. On a technical team, empathy, self-awareness, and communication skills lay the groundwork for productivity. Believe it or not, they also lay the groundwork for code craft. Pair programming, TDD and shared ownership all depend on connection and communication.</p>
    <p>We'll meet with your team, participate in technical decision making sessions, pair with them on their gnarly code, make some observations and recommendations. The team will learn communication skills through exercises and facilitated meetings. We'll help your team make the most effective technical decisions they can, and ensure that everybody's committed. And we'll practice team improvement activities like retrospectives and setting team values and agreements.</p>
  <p>When we leave, the team will be stronger, better connected, and leading its own improvement.</p>
  </div>
  <div class="highlight-story">
  <h3><span>Facilitating Retrospectives</span></h3>
    <p>Continuous improvement is one of the core skills that Agile development has brought us. The best retros help us dig deep to discover what is really going on, and what we're empowered to change. More than that, retros build trust and understanding among team members.</p>
    <p>Some teams find that retros can get stale, or lose value. With skilled facilitation, we break down barriers, create space for saying the things no one has been willing to say, discover surprises, and elicit real change where it's needed.</p>
    <p>Retrospectives are an opportunity for a team to learn how to communicate openly and effectively, and to improve together. Retros and other gatherings, including planning meetings and technical decision-making meetings, mean dealing with challenges — often really difficult ones! Learning to talk openly about concerns, to build shared values, to look at what's happening and find ways to make it better takes skilled facilitation. Our expert facilitation will help your team learn communication skills that empower great work. And in the process, the team can learn to facilitate their own highly productive gatherings.</p>
  </div>
  <div class="highlight-story">
    <h3><span>Code Retreats<span></h3>
    <p>A code retreat is a day of deliberate practice in community. Away from the pressures of delivery, we spend the day focusing on writing the best code we can. The original code retreats were often focused solely on code quality. We've extended that include additional focus on human factors.</p>
    <p>In addition to technical learning, teams explore their own emotions, learn about empathy, and become better pair programmers. The result is a team that learns together, enjoys each other, and is more productive.</p>  
    <p>For a code retreat, you need a room away from work responsibilities, and people who can commit to a full day of (fun) focus. You'll provide space, spare keyboards, and food, and we'll provide skilled facilitation.</p>
  </div>
</div>
<div class="segment">
  <div class="regular-story">
     <p>Sometimes "we" means several folks, but sometimes it means Alex. Here's <a href="/people/alex.html">Alex's resume</a>. To reach us, call or text 614-245-5136 &mdash; or email <a href='ma&#105;&#108;to&#58;a&#108;e%&#55;8%40maitria&#46;&#37;6&#51;&#111;&#109;'>al&#101;x&#64;mai&#116;ri&#97;&#46;com</a></p>
  </div>
</div>
</div>
