body {
	width: 50em;
	margin-left: auto;
	margin-right: auto;
	font-family:"georgia";
}

a {
        font-weight: bold;
	text-decoration: none;
}

p {
	padding-right: 7.5em;
	text-size: 120%;
	text-align: justify;
	line-height: 140%;
}

ul {
        width: 80%;
}

li {
        line-height: 130%;
        text-size: 120%;
}

#name h1 {
        font-family: trebuchet, sans-serif;
	color: white;
	padding-left: 0.75em;
        background-color: orange;
	border-top: solid black 1px;
	border-bottom: solid black 1px;
}

h2 {
        font-family: trebuchet, sans-serif;
	margin: 0;
	padding-left: 0.25em;
	padding-right: 0.25em;
	text-align: right;
	float: right;
	width: 4em;
}

h3 {
        font-family: trebuchet, sans-serif;
	display: inline;
}

#name h2 {
        padding-right: 100px;
        text-align: right;
        width: 100%;
        font-size: 125%;
        padding-bottom: 15px;
}

.tools_list li {
  display: inline;  
  padding-right: 2em;
}

.contact {
	width: 20em;
	font-weight: bold;
}
.contact dt {
	float: left;
	text-align: right;
	padding-right: 0.5em;
	width: 5em;
}

.when {
	font-style: italic;
	display: inline;
	margin-left: 0.5em;
}

.title {
	font-style: italic;
	display: inline;
}

.what {
	margin-top: 0.25em;
	margin-bottom: 0.75em;
	padding-left: 1.5em;
	list-style-type: none;
}

.profile-picture {
	float: left;
	display: inline-block;
	margin-right: 35px;
	margin-bottom: 0.5em;
}

.profile-picture img {
	margin-bottom: 0.7em;
}

.profile-picture p {
	padding-right: 0;
	text-align: center;
	font-weight: bold;
	line-height: 135%;
	margin: 0;
}
