.standard_image {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    width: 160px;
}

.standard_text {
  margin-left: 8%;
  margin-right: 8%;
  font-family: sans-serif;
  font-size: 100%;
  line-height: 150%;
  color: @text; 
}

.print_text {
  margin-left: 75px;
  margin-right: 75px;
  font-family: sans-serif;
  font-size: 80%;
  line-height: 150%;
  color: @text; 
}

